
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9aa3ba;
    line-height: 26px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;

}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.5px;
    margin-bottom: 65px; 
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.nav>li {
    padding: 0px 15px;
}

.nav-item {
    color:#6e7ea9;
}

.btn-primary {
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 45px;
    border-radius: 30px;
    letter-spacing: 3.5px;
    border: 1px solid #1085e4;
    transition: 0.3s;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    color: #7e8bae;
    background-color: #cbdbe8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 45px;
    border-radius: 30px;
    letter-spacing: 3.5px;
    border: 1px solid #cbdbe8;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #fff;
} 

.btn-group a+a {
    margin-left: 20px;
}

.btn-free {
    
    font-weight: 400;
    letter-spacing: 2.5px;
    padding: 25px 60px;
}

.btn-info {
    color: #8085b1;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 60px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    border: 1px solid #dce1e5;
    transition: 0.3s;
}

.btn-info:hover{
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}

.logo {
    display: block;
    background-image: url(../img/logo.png);
    width: 181px;
    height: 49px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 305px;
}

.page-header{
    background-image: url(../img/BackGr1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 332px 0;
    position: relative;
}

.screen-img{
    display: block;
    background-image: url(../img/HeaderBG.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    top: 200px;
    right: 0px;
}

.page-company{
    background-image: url(../img/BackGBlue.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.list-company{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-company-item{
    display: block;
    flex-basis: 20%;
    background-repeat: no-repeat;
}

.company-one {
    background-image: url(../img/Token.png);
    width: 59px;
    height: 59px;
}

.company-two{
    background-image: url(../img/Magneto.png);
    height: 69px;
    width: 69px;
}

.company-three{
    background-image: url(../img/BooHoo.png);
    height: 47px;
    width: 47px;
}

.company-four{
    background-image: url(../img/Fractal.png);
    height: 69px;
    width: 69px;
}

a {
    text-decoration: none;
}

.page-grid{
    padding: 2%;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    line-height: 1;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-item{
    box-shadow: 0 0 5px gray;
    text-align: center;
}

.grid-icon{
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 100px;
    background-position: center;
}
.grid-icon-1{
    background-image: url(../img/bg3_icon1.png);
    background-size: 55px 70px;
}
.grid-icon-2{
    background-image: url(../img/bg3_icon2.png);
    background-size: 55px 70px;
}
.grid-icon-3{
    background-image: url(../img/bg3_icon3.png);
    background-size: 55px 70px;
}
.grid-icon-4{
    background-image: url(../img/bg3_icon4.png);
    background-size: 55px 70px;
}
.grid-icon-5{
    background-image: url(../img/bg3_icon5.png);
    background-size: 55px 70px;
}
.grid-icon-6{
    background-image: url(../img/bg3_icon6.png);
    background-size: 55px 70px;
}
.grid{
    display: grid;
    grid-template-areas: "a b c" "d b c" "d e f" "g e f" "g h h";
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-title{
    grid-area: a;
}
.grid-item-1{
    grid-area: b;
}
.grid-item-2{
    grid-area: c;
}
.grid-item-3{
    grid-area: d;
}
.grid-item-4{
    grid-area: e;
}
.grid-item-5{
    grid-area: f;
}
.grid-item-6{
    grid-area: g;
}
.grid-text{
    grid-area: h;
}

.box-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color:#a6b3e2;
    width: 400px;
}

.page-subscribe h2 span {
    font-size: 14px;
    color: #01a7eb;
    display: block;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.page-subscribe button {
    background-color: #1085e4;
}

.page-subscribe {
    background-color: #0a2090;
    padding: 25px 0 28px 0;
    background: rgba(10, 32, 144, 1);
    background: -moz-linear-gradient(left, rgba(10, 32, 144, 1));
    background: -webkit-gradient(left top, right top, color-stop(100%, rgba(0,96,240,1)));
    background: -webkit-linear-gradient(left, rgba(10, 32, 144, 1) 0%, rgba(0,96,240,1) 100%);
    background: -o-linear-gradient(left, rgba(10, 32, 144, 1) 0%, rgba(0,96,240,1) 100%);
    background: -ms-linear-gradient(left, rgba(10, 32, 144, 1) 0%, rgba(0,96,240,1) 100%);
    background: linear-gradient(to right, rgba(10, 32, 144, 1) 0%, rgba(0,96,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10359f', endColorstr='#0060f0', GradientType=1 );
}

/*/ FEATURES /*/
.page-software p{
    max-width: 550px;
}

.page-software{
    background-image: url(../img/BackGroundGrab.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 115px 0;
}

.page-software-icon{
    display: block;
    background-image: url(../img/PageSoftIcon.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 60px;
    box-shadow: 0px 0px 30px 3px rgba(0, 66, 248, 0.5);
    border-radius: 7px;
}

.page-software .title-h2{
    max-width: 620px;
    margin-top: 12px;
    margin-bottom: 26px;
    letter-spacing: 1.2px;
}

.page-software-list dt{
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}

.page-software-list dd{
    margin-left: 0;
    margin-bottom: 50px;
    line-height: 1.8;
}
.page-software-list{
    margin-top: 30px;
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
    width: 550px;
}

.page-software-flex{
    display: flex;
    justify-content: flex-end;
}
.page-software-flex>div{
    flex-basis: 50%;
}
.page-software-list::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #f3f6ff;
    border-radius: 5px;
}
.page-software-list::-webkit-scrollbar-thumb {
    background-color: #144bff;
    border-radius: 7px;
    box-shadow: inset 1px 1px 10px #1085e4;
}


/*/ FEATURES /*/
/*/ CLIENTS /*/

.page-clients{
    background-image: url(../img/BackGr5.png);
    background-repeat: no-repeat;
    background-size: initial;
    padding: 72px 0 72px 0;
    margin: 120px 0px 0px 0px;
}
.box-clients{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.client-one{
    background-color: #fff;
    border-radius: 4%;
    margin-top: 50px;
    padding: 16px;
    margin: 10px;
    box-shadow: 1px 7px 30px rgb(63 63 63);
}
.client-ones {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.gridos{
    display: grid;
    grid-template-columns: 170px;
    grid-template-rows: 25px;
    margin-right: 30px;
    grid-gap: 5px;
}
.women{
    background-image: url(../img/Client.png);
    width: 55px;
    height: 52px;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 1px 7px 30px rgb(63 63 63);
    margin-top: 14px;
    
}

.page-clients h2 {
    font-size: 40px;
    font-weight: 600px;
    color: #fff;
}

.page-clients h2 span {
    font-size: 18px;
    font-weight: 800;
    display: block;
    color: #85c8ff;
    text-transform: uppercase;
}
.gridos .name {
    font-size: 22px;
    font-weight: 600;
    color: #192b59;
    text-align: left;
}
.gridos .position {
    font-size: 14px;
    font-weight: 800;
    display: block;
    color: #01a7eb;
    text-transform: uppercase;
    text-align: left;
}
.box-clients p {
    font-size: 14px;
    font-weight: 400;
    color: #5a6789;
}
/*/ CLIENTS /*/

.title-h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1,5px;
}

.page-subscribe .title-h2{
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.box-subscribe-user input::-webkit-input-placeholder{
    color: #b1c3ee
}
.box-subscribe-user input::-moz-placeholder{
    color: #b1c3ee
}
.box-subscribe-user input:-moz-placeholder{
    color: #b1c3ee
}
.box-subscribe-user input:-ms-input-placeholder{
    color: #b1c3ee
}

.box-subscribe-user input{
    border: 2px solid #3f5cb1;
    border-radius: 30px;
    background-color: transparent;
    padding: 20px 15px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.box-subscribe-user{
    position: relative;
}
.box-subscribe-user .btn-primary{
    position: absolute;
    top: 5px;
    right: 5px;
}

.robot{
}

.box-subscribe-child{
    flex-basis: 49%;
}
.box-subscribe-user input{
    border: 2px solid #3f5cb1;
    font-size: 14px;
    color: #fff;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 10px 20px 30px rgba(146,226,250,0.5);
}
.box-subscribe-user input:focus{
    outline: none;
}
.box-subscribe-user input:focus, .box-subscribe-user .btn-primary{
    outline: none;
}

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}

.FactsLi>li span{
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.FactsLi li{
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;

}

.FactsLi {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    color: #1085e4;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.page-stat .title-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.page-app h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.Ava {
    font-size: 16px;
    font-weight: 700;
    color: #bacbdc;
    text-transform: uppercase
}

.page-anytype h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-easy h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}
/* Блок page-screen*/
.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #01a7eb;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.page-screen {
    text-align: center;
}

.screen {
    margin-top: 40px;
    margin-bottom: -10px;
}
/* PAGE*/
.page-stat,
.page-screen {
    background-color: #edf6ff;
}

.page-stat {
    padding: 115px 0px 95px 0px;
}

.page-screen {
    padding: 80px 0px 0px 0px;
}

.page-screen .title-h2 {
    font-size: 40px;
    letter-spacing: -1.1px;
}

.page-screen .title-h2 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}


/* page-plan*/
.page-plan h2 {
    font-size: 40px;
    font-weight: 600;
    color: #0a2090;
}
.page-plan h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #01a7eb;
    display: block;
}
.page-plan a{
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
}

.page-screen,
.page-plan {
    text-align: center;
}

.page-plan .btn-primary{
    padding: 20px 60px;
}

.page-plan .btn-primary{
    background: transparent;
}

.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    padding:  90px 0px 96px 0;
    position: relative;
}

.box-price ul{
    font-size: 14px;
    font-weight: 400;
    color: #5a6789;
}

.box-price-item h3{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #0a2090;
}
.box-price-item p {
    font-size: 14px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item h3 span {
    font-size: 20px;
    font-weight: 400;
    color: #0a2090;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item.active h3 span:first-child {
    color: #fff;
}

.box-price-item.active h3{
    color: #fff;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item.active {
    background-color: #152b59;
    color: #fff;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 60px;
    font-size: 14px;
}

.box-price-item ul>li {
    margin-bottom: 14px;
}

.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../IMG/tr.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.box-price-item.active::after{
    display: none;
}

.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #0a2090;
}
.page-form form{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.page-form button{
    background-color: #1085e4;
}

.footer p {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}
.footer a{
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
}